body {
    margin: 0;
    padding: 0;
    background: url(../Styles/Images/Main_Panel_Fondo.png) no-repeat center top;
    font-family: Pristina;
    background-size: cover;
    height: 100vh;
}
